beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.3.0
cx-Freeze==6.15.8
cx-Logging==3.1.0
idna==3.4
lief==0.13.2
Pillow==10.0.1
python-dotenv==1.0.0
rarfile==4.1
requests==2.31.0
soupsieve==2.5
unrar==0.4
urllib3==2.0.6
