beautifulsoup4==4.12.2
Brotli==1.1.0
bs4==0.0.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
cryptography==41.0.4
cx-Freeze==6.15.8
cx-Logging==3.1.0
idna==3.4
inflate64==0.3.1
lief==0.13.2
multivolumefile==0.2.3
Pillow==10.0.1
psutil==5.9.5
pybcj==1.0.1
pycparser==2.21
pycryptodomex==3.19.0
pyppmd==1.0.0
python-dotenv==1.0.0
pyzstd==0.15.9
requests==2.31.0
soupsieve==2.5
texttable==1.7.0
urllib3==2.0.6
